/*Animation Rotate CSS */

.rotate-center {
  -webkit-animation: rotate-center 10s linear infinite ;
    animation: rotate-center 10s linear infinite ;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


@keyframes rotateme {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rotateme {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes rotateme {
    from {
        -moz-transform: rotate(0deg);
    }
    to { 
        -moz-transform: rotate(360deg);
    }
}
@-o-keyframes rotateme {
    from {
        -o-transform: rotate(0deg);
    }
    to { 
        -o-transform: rotate(360deg);
    }
}


/*-------------------------------------
  Floating-1 
  -------------------------------------*/

.floating{
  animation-name: floating;
  -webkit-animation-name: floating;

  animation-duration: 5s; 
  -webkit-animation-duration: 5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes floating {
  0% {  transform: translateY(0%);  }
  50% {transform: translateY(20px);}  
  100% {transform: translateY(0%);}   
}

@-webkit-keyframes floating {
  0% {  -webkit-transform: translateY(0%);}
  50% {-webkit-transform: translateY(20px);}  
  100% {  -webkit-transform: translateY(0%);}   
} 

/*-----img up down animation----*/
.img-top-bottom-aanimation {
  -webkit-animation: img-animation 5s ease-in-out infinite alternate-reverse both;
          animation: img-animation 5s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes img-animation {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}
@keyframes img-animation {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

/*-------------------------------------
  Floating-1 
  -------------------------------------*/

.floating{
  animation-name: floating;
  -webkit-animation-name: floating;

  animation-duration: 5s; 
  -webkit-animation-duration: 5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes floating {
  0% {  transform: translateY(0%);  }
  50% {transform: translateY(20px);}  
  100% {transform: translateY(0%);}   
}

@-webkit-keyframes floating {
  0% {  -webkit-transform: translateY(0%);}
  50% {-webkit-transform: translateY(20px);}  
  100% {  -webkit-transform: translateY(0%);}   
} 

/*-------------------------------------
  Floating-2 
  -------------------------------------*/

.floating-2{
  animation-name: floating-2;
  -webkit-animation-name: floating-2;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes floating-2 {
  0% {  transform: translateY(0%);  }
  50% {transform: translateY(20px);}  
  100% {transform: translateY(0%);}   
}

@-webkit-keyframes floating-2 {
  0% {  -webkit-transform: translateY(0%);}
  50% {-webkit-transform: translateY(20px);}  
  100% {  -webkit-transform: translateY(0%);}   
} 

/*-------------------------------------
  Floating-3 
  -------------------------------------*/

.floating-3{
  animation-name: floating-3;
  -webkit-animation-name: floating-3;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes floating-3 {
  0% {  transform: translateY(-30px);  }
  50% {transform: translateY(10px);}  
  100% {transform: translateY(-30px);}   
}

@-webkit-keyframes floating-3 {
  0% {  -webkit-transform: translateY(-30px);}
  50% {-webkit-transform: translateY(10px);}  
  100% {  -webkit-transform: translateY(-30px);}   
} 

/*-------------------------------------
  Scale-down-center Animation 
  -------------------------------------*/
.scale-down-center {
  -webkit-animation: scale-down-center 2s linear infinite alternate-reverse both;
  animation: scale-down-center 2s linear infinite alternate-reverse both;
}

@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
/*-------------------------------------
  Rotate-center-center Animation 
  -------------------------------------*/
.rotate-center {
  -webkit-animation: rotate-center 10s linear infinite ;
    animation: rotate-center 10s linear infinite ;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}




@-webkit-keyframes fadeInDown {
    from {
    opacity: 0;
    -webkit-transform: translate3d(0,  -100%,  0);
    transform: translate3d(0,  -100%,  0);
}
to {
    opacity: 1;
    -webkit-transform: translate3d(0,  0,  0);
    transform: translate3d(0,  0,  0);
}
}@keyframes fadeInDown {
    from {
    opacity: 0;
    -webkit-transform: translate3d(0,  -100%,  0);
    transform: translate3d(0,  -100%,  0);
}
to {
    opacity: 1;
    -webkit-transform: translate3d(0,  0,  0);
    transform: translate3d(0,  0,  0);
}
}.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}