
@media (min-width: 1200px) {
	.statistics-main .container {
		max-width: 1230px;
	} 
}
@media (max-width: 1366px) { 
	.anim-icon .icon-3 {
		right: -30px;
	}
	.floating-image {
		overflow: hidden;
	}
	.v2 {
		right: 0;
	}

	.v3 {
		left: calc(50% - 70px);
	}


}
@media (max-width: 1280px) { 
	.floating-image {
		right: 0;
		top: 0;
	}
	.v3 {
		left: 32%;
	}

	.img-banner-1 {
		max-width: 85%;
	}

	.contact .img-image-content {
		min-width: auto;
	}

	.anim-icon .icon-3 {
		right: 30px;
	}
}
@media (max-width: 1024px) { 
	.img-banner-1 {
		max-width: 70%;
	}

	.page-header {
		height: 700px;
	}

	.floating-image {
		top: 0;
		text-align: right;
	}

	.v1 {
		left: 170px;
		bottom: 70px;
	}

	.v2 {
		right: -10px;
		top: -100px;
	}

	.v3 {
		left: calc(50% + 45px);
		top: 75px;
	}

	.v3 img {
		width: 130px;
	}
	.v2 {
		display: none;
	}

	.home-main-banner .caption small {
		font-size: 16px;
		letter-spacing: 1px;
	}

	.home-main-banner .caption h2 {
		font-size: 40px;
		line-height: 42px;
	}

	.home-main-banner .caption h3 {
		font-size: 25px;
		line-height: 35px;
	}
	.home-main-banner .caption span {
		letter-spacing: 1px;
	}
	.statistics-figure {
		margin:0;
	}
	.statistics-figure figcaption strong {
		/* font-size: 20px; */
	}

	.statistics-figure figcaption span {
		font-size: 16px;
	}
	.faqs.type_four .image_box {
		min-width: auto;
		min-height: auto;
	}

	.faqs.type_four .image_box .image {
		position: relative;
		left: 0;
		top: 0;
	}
	.app-down-text h4 {
		font-size: 28px;
	}
	.contact_form_box.type_one h2 {
		font-size: 16px;
	}


}
@media only screen and (max-width: 768px) {
	.col-6 {
		max-width: 50%;
		flex: 0 0 50%;
	}
	.navbar-expand-md .navbar-collapse {
		display: none!important;
	}
	.menu-bar {
		display: inline-flex;
		position: absolute;
		top: -40px;
		right: -10px;
		width: 30px;
		height: 30px;
		font-size: 14px;
		border-radius: 4px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}
	.line-bar, .toggleMenu .line-bar {
		position: relative;
		width: 25px;
		height: 2px;
		background: #374b73;
		transition: .3s;
	}

	.line-bar:before, .line-bar:after, .toggleMenu .line-bar:before, .toggleMenu .line-bar:after {content: "";position: absolute;width: 22px;height: 2px;background: #394d74;transition: .3s;}

	.line-bar:before, .toggleMenu .line-bar:before {
		top: -6px;
	}

	.line-bar:after, .toggleMenu .line-bar:after {
		bottom: -7px;
	}
	.menu-open.toggleMenu .line-bar {
		background: transparent;
	}
	.menu-open .line-bar:before {
		transform: rotate(45deg);
		top: 0;
	}

	.menu-open .line-bar:after {
		bottom: 0;
		transform: rotate(-45deg);
	}
	.menu-open .line-bar {
		background: transparent;
	}
	.floating-image {
		position: relative;
		width: 33.3333%;
	}

	.img-banner-1 {
		max-width: 400px;
	} 

	.v1 {
		display: none;
	}

	.v3 {
		display: none;
	}

	.v3 img {
		width: 100px;
	}

	.page-header {
		height: 600px;
	}

	.home-main-banner {
		transform: translateY(0);
		top: 10%;
		position: relative;
	}

	.section-title {
		margin-bottom: 20px;
	}
	.home-main-banner .caption small {
		font-size: 14px;
		letter-spacing: 1px;
	}

	.download-app-mb img {
		width: 110px;
	}

	.home-main-banner .caption .get-started {
		margin-top: 15px;
	}

	.home-main-banner .caption span {
		font-size: 14px;
	}
	.anim-icon {
		display: none;
	}
	.col-xs-12 {
		max-width: 100%;
		flex: 0 0 100%;
	}

	.item-wrap.style2, .item-wrap.style4 {
		transform: translateY(0px);
	}

	.item-wrap-inner {
		/* min-height: 300px; */
	}

	.entry-content {
		margin-top: 40px;
	}
	.symptoms-img {
		display: none;
	}
	.faqs:before {
		top: 15%;
	}

	.faqs.type_four .image_box {
		display: none;
	}
	.img-layer-1 {
		display: none;
	}

	.img-layer-2 {
		position: relative;
	}

	.app-down-text {
		padding: 0;
	}

	.app-down-text h4 {
		font-size: 20px;
	}

	.app-down-text p {
		font-size: 14px;
	}

	.app-down-text img {
		width: 100px;
	}
	.navbar-brand img {
		max-width: 200px;
	}

	.navbar-expand-md .navbar-collapse.show-mb {
		display: block !important;
	}

	.navbar-expand-md .show-mb .navbar-nav {
		flex-direction: column;
		position: absolute;
		width: 100%;
		background: #fff;
		top: 15px;
		left: 13px;
		z-index: 11;
		border-radius: 6px;
		padding: 10px 0 15px;
	}

	.page-header .navbar .show-mb .navbar-style .nav-item {
		margin: 0;
	}

	.page-header .navbar .show-mb .navbar-style .nav-item .nav-link {
		margin: 0;
		line-height: 20px;
		padding: 15px 20px;
	}
}
@media only screen and (max-width: 460px) {

	.page-header .navbar {
		padding: 10px;
	}

	.home-main-banner {
		top: 40px;
	}

	.home-main-banner .caption h2 {
		font-size: 30px;
		margin: 0;
	}

	.home-main-banner .caption small {
		font-size: 14px;
		letter-spacing: 0;
		margin: 0;
		padding-bottom: 0;
	}

	.home-main-banner .caption h3 {
		font-size: 20px;
		margin: 0;
	}

	.floating-image {
		display: none;
	}

	.page-header {
		height: 400px;
	}

	.statistics-main .col-md-3, .col-xs-12 {
		width: 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.section-title h2 {
		font-size: 25px;
	}

	.item-wrap {
		width: 100%;
	}

	.inner-figure img {
		/* width: 240px; */
		/* left: 40px; */
	}

	.img-layer-2 {
		text-align: center;
	}

	.img-layer-2 img {
		max-width: 50%;
	}
	.app-down-text p {
		padding: 0;
	}

	.contact_form_box.type_one {
		padding: 30px;
	}
	.faq_box.type_four .faq_btn.collapsed {
		font-size: 14px;
	}
	.faq_box.type_four .faq_btn {
		font-size: 14px;
		line-height: 20px;
	}

	.prevention {
		flex-direction: column;
	}

	.prevention .icon {
		margin-right: 0 !important;
		margin-bottom: 30px;
	}

	.prevention-details {
		width: 100%;
		text-align: center;
	}
	.entry-content {
		margin-top: 10px;
	}
}

@media only screen and (max-width: 375px) {
	.contact_form_box.type_one h2 {
	    font-size: 14px;
	    line-height: 20px;
	}
}