 body {
    margin: 0;
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
    color: #374b73;
}
img {
    width: 100%;
} 

.btn-danger {
    color: #FF8197;
    background-color: #ffe4dc;
    border-color: #ffe4dc;
    font-size: 14px;
    font-weight: 500;
}
.btn-danger:hover {
    background: #FF8197;
    border-color: #FF8197;
    color: #fff;
}
.row {
    position: relative;
}

/* Header page */

.page-header {
    background: url(../images/header-banner.jpg) no-repeat;
    background-size: cover;
    padding-top: 0;
    margin-bottom: 0;
    position: relative;
    height: 100vh;
}
.home-main-banner {
    position: absolute;
    top: 50%;
    transform: translateY(-42%);
    left: 0;
    right: 0;
    margin: auto;
}
.home-main-banner .caption h2 {
    font-size: 60px;
    color: #374b73;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    line-height: 52px;
}

.home-main-banner .caption small {
    font-family: Poppins,sans-serif;
    font-size: 18px;
    color: #374b73;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    padding: 2px 0 5px;
    margin-bottom: 5px;
    display: block;
}
.home-main-banner .caption h3 {
    font-size: 45px;
    color: #374b73;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 47px;
    margin-bottom: 10px;
}
.home-main-banner .caption span {
    color: #374b73;
    font-family: Poppins,sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 13px 0 0;
}
.home-main-banner .caption .get-started {
    text-align: left;
    margin-top: 37px;
} 

.floating-image {
    position: absolute;
    right: -70px;
    top: -60px;
}


.v1 {
    position: absolute;
    bottom: 120px;
    left: 8px;
    z-index: -1;
}

.v2 {
    position: absolute;
    top: 0;
    right: -50px;
    z-index: -1;
}

.v1 img {
    width: 65px;
}

.v2 img {
    width: 120px;
}
.v3 {
    position: absolute;
    top: 100px;
    left: calc(50% - 96px);
}
.page-header .navbar {
    padding: 50px 0 0;
    transition: .5s;
}


.img-responsive {
    width: 100%;
    max-width: 210px;
}
.sticky-menu {
    left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.07);
    -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.07);
    z-index: 999;
    background: #FFF;
    padding: 10px !important;
    transition: .5s;
};

.navbar-collapse {
    justify-content: flex-end;
}
.page-header .navbar .navbar-style .nav-item {
    padding: 0;
    margin: 0 15px;
    position: relative;
    display: inline-flex;
    align-items: center;
}
.page-header .navbar .navbar-style .nav-item:last-child {
    margin-right: 0;
}
.page-header .navbar .navbar-style .nav-item:first-child {
    margin-left: 0;
}
.page-header .navbar .navbar-style .nav-link {
    text-transform: uppercase;
    color: #374b73;
    font-size: 13px;
    position: relative;
    transition: all .2s ease;
    padding: 0;
    font-weight: 600;
    margin-top: 0;
}
.page-header .navbar .navbar-style .nav-item.active .nav-link {
    color: #FF8197;
    text-decoration: none;
} 
.page-header .sticky-menu.navbar .navbar-style .nav-link {
    margin: 0;
}

.page-header .sticky-menu .navbar-brand img {width: 160px;}
.page-header .navbar .row {
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
    width: 100%;
    align-items: center;
}
.download-app-mb a {
    display: inline-flex;
    align-items: center;
    max-width: 200px;
}

.download-app-mb img {
    width: 100%;
}

/*Section Statistic*/

.statistics-main {
    position: relative;
}

.statistics {
    position: relative;
    margin-top: -70px;
    background: #fff;
    border-radius: 6px;
    padding: 35px 25px;
}

.equal-cols {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.statistics-figure {
    display: flex;
    align-items: center;
    /* border: 1px solid #ffe4dc; */
    border-radius: 4px;
    /* padding: 10px; */
    flex-direction: column;
    justify-content: center;
    min-height: 170px;
}

.sprites {
    display: inline-flex;
    margin-bottom: 10px;
}

.sprites img {
    width: 50px;
}

.statistics-figure figcaption span {
    line-height: normal;
    margin-top: 4px;
    color: #374b73;
    font-size: 15px;
    text-align: center;
    font-weight: 500;
}

.statistics-figure figcaption {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}

.statistics-figure figcaption strong {
    color: #130947;
    font-size: 30px;
}


.statistics-figure .country-i strong {
    color: #374b73;
}

.statistics-figure .confirmed-i strong {
    color: #e18f17;
}

.statistics-figure .deaths-i strong {
    color: #F44336;
}

.statistics-figure .recovered-i strong {
    color: #328f36;
}

/*Section Symptoms*/


.symptoms {
    position: relative;
    padding: 90px 0;
}

.center-align {
    align-items: center;
    justify-content: center;
}

.section-title {
    text-align: center;
    margin-bottom: 60px;
}

.section-title .sub-title {
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #ff8497;
    display: block;
    font-size: 14px;
    font-weight: 600;
}

.section-title h2 {
    margin-bottom: 0;
    font-size: 35px;
    font-weight: 800;
}


.symptoms-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding: 30px 0;
}

.item-wrap {
    width: 50%;
    padding: 0 15px;
}

.item-wrap-inner {
    background: #fff;
    box-shadow: 0px 5px 100px rgba(6, 30, 52, 0.1);
    border-radius: 6px;
    padding: 20px;
    position: relative;
    margin-bottom: 30px;
}

.item-wrap.style2, .item-wrap.style4 {
    transform: translateY(20px);
}
.inner-figure span {
    background: #f0f0f0;
    background-image: linear-gradient(#f0f0f0, #eee);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 0 auto;
    display: block;
}
.inner-figure {
    position: relative;
    text-align: center;
}

.inner-figure img {
    position: relative;
    display: inline-block;
    width: auto;
}
.entry-content {
    position: relative;
}

.item-title h4 {
    font-size: 18px;
    text-align: center;
}

.description {
    font-size: 14px;
    text-align: center;
    color: #777;
}


.symptoms-img {
    text-align: right;
    position: relative;
}

.symptoms-img img {
    max-width: 100%;
    width: auto;
}


.anim-icon .icon-1 {position: absolute;left: 30px;top: 0;}

.anim-icon .icon-3 {
    position: absolute;
    bottom: 0;
    right: 0;
}
.rotate-me {
  animation-name: rotateme;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: rotateme;
  -webkit-animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotateme;
  -moz-animation-duration: 30s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: rotateme;
  -ms-animation-duration: 30s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: rotateme;
  -o-animation-duration: 30s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
}

/* benifits */

.ptb_100 {
    padding: 100px 0;
}
.section {
    position: relative;
}
.benifits-item {
    position: relative;
    transition: .3s;
    border-radius: 6px;
}
.benifits-item:hover {
    background-color: #fff;
    -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

.feature-icon {
    display: inline-block;
}

.benifits-text {
    display: block;
    position: relative;
    margin-top: 10px;
}

.benifits-text h3 {
    font-size: 18px;
}

.benifits-text p {
    font-size: 14px;
    color: #777;
}


/* HOW IT WORKS*/
.protect_yourself {
    position: relative;
}
.pb-70 {
    padding-bottom: 70px !important;
}
.pt-90 {
    padding-top: 90px !important;
}
.mb-30 {
    margin-bottom: 30px !important;
}
.protect_yourself .section-title h2 {
    color: #fff;
}
.prevention {
    background: #374b73;
    padding: 20px;
    transition: .3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 10px;
    min-height: 185px;
}

.mr-30 {
    margin-right: 30px !important;
}

.overflow-hidden {
    overflow: hidden !important;
}
.mt-0 {
    margin-top: 0px !important;
}
.text-white {
    color: #fff !important;
}
.mt-0, .my-0 {
    margin-top: 0 !important;
}

.prevention .icon {
    width: 90px;
}

.prevention .icon img {
    width: 100%;
}
.steps {
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 25px;
}
.steps strong {font-weight: 300;}
.steps span {
    font-size: 55px;
    line-height: 60px;
    font-weight: 600;
}
.prevention-details {
    width: calc(100% - 120px);
    position: relative;
}

.prevention-details .info {
    font-size: 15px;
}

.prevention:hover {
    background: #fc8295;
}
.faqs.type_four {
    position: relative;
    background-color: #f3f9fe;
}
.faqs:before {content: "";position: absolute;top: 0;right: 0;width: 380px;height: 380px;background-image: url(../images/25.png);background-repeat: no-repeat;background-size: contain;background-attachment: inherit;}
.faqs.type_four .image_box {
    position: relative;
    min-width: 600px;
    min-height: 600px;
}
.faqs.type_four .image_box .image {
    position: absolute;
    left: -100px;
    top: 40px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.faq_content {
    position: relative;
} 

.card {
    border: 0px;
}
.faq_box.type_four {
    position: relative;
    margin-bottom: 10px;
    border-radius: 10px;
}
.card-header {
    background: transparent; 
    padding: 0px;
    border: 0px;
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.mb-0, .my-0 {
    margin-bottom: 0!important;
}
.faq_box.type_four .faq_btn {
    border: 0px;
    position: relative;
    background: #fff;
    padding: 20px 30px 20px 80px;
    width: 100%;
    display: block;
    text-align: left;
    border-radius: 10px;
    background: #ff8598;
    font-size: 18px;
    color: #fff;
    line-height: 28px;
    font-weight: 600;
    outline: none;
}
.faq_box.type_four .faq_btn .faq_icon {
    position: absolute;
    font-size: 20px;
    color: #fff;
    left: 30px;
    top: 0;
    bottom: 0;
    margin-bottom: auto;
    margin-top: auto;
    display: table;
}

.card-body {
    font-size: 14px;
}
.faq_box.type_four .faq_btn.collapsed {
    background: #fff;
    font-size: 18px;
    color: #374b73;
}
.faq_box.type_four .faq_btn.collapsed span {
    color: #374b73;
}
.download-apps {
    padding-top: 70px;
    padding-bottom: 90px;
    position: relative;
    background: #374b73;
}

.img-image-content {
    position: relative;
}

.img-layers {
    position: relative;
}

.img-layer-1 {
    position: relative;
}

.img-layer-1 img {
    height: auto;
    max-width: 380px;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.img-layer-2 {
    position: absolute;
    top: 0;
    right: 0;
}

.app-down-text {
    position: relative;
    padding-left: 50px;
}

.app-down-text .section-title {
    text-align: left;
    margin: 0;
}
.download-apps .section-title h2 {
    color: #fff;
}
.app-down-text h4 {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    padding: 15px 0px 12px;
    line-height: 1.306;
}

.app-down-text h4 span {
    font-weight: 400;
    display: block;
}

.app-down-text p {
    color: #ffffff;
    padding-bottom: 32px;
}
.app-down-btn {
    margin-bottom: 22px;
}
.app-down-btn a {
    margin-right: 10px;
    display: inline-block;
}

/*Contact*/

.contact {
    padding: 70px 0 90px;
    background: #fff;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 40%;
}
.contact_form_box.type_one {
    position: relative;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, .06);
    padding: 60px;
    border-radius: 10px;
    background: #fff;
    border-top: 5px solid #ff97a7;
    margin-top: 50px;
}
.contact_form_box.type_one h2 {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    color: #ff8497;
    text-align: center;
}
.contact_form_box.type_one label {
    margin-bottom: 10px;
    color: #374b73;
    font-size: 14px;
}
.contact_form_box.type_one input, .contact_form_box.type_one textarea {
    position: relative;
    height: 50px;
    line-height: 26px;
    padding: 10px 20px;
    border: 2px solid #f3f9fe;
    border-radius: 5px;
    width: 100%;
    background: #fff;
    font-size: 14px;
}
.theme_btn.tp_one {
    font-size: 16px;
    position: relative;
    color: #fff;
    background: #374b73;
    box-shadow: 0px 5px 15px rgba(71,74,117,0.3);
    display: inline-block;
    cursor: pointer;
    width: 180px;
    height: 50px;
    line-height: 48px;
    font-weight: 500;
    transition: all .5s ease;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    border-radius: 50px;
    background-size: 300% 100%;
    box-shadow: 0px;
    border: 0px!important;
    outline: none;
}
.contact_form_box.type_one button {
    margin-top: 20px;
}


.contact_form_box.type_one textarea {
    min-height: 100px;
}
.contact .img-image-content {
    min-width: 600px;
    min-height: 600px;
}

.contact .img-image-content .img-layer-1 img {
    max-width: 100%;
}

/*Footer */

.footer-bg {
    background: #fff;
}
.third-footer-bg .footer-wrap {
    padding-top: 175px;
}
.pt-80 {
    padding-top: 80px;
}
.pb-45 {
    padding-bottom: 45px;
}

.text-center {
    text-align: center !important;
}
.logo-bt {
    width: 180px;
    display: block;
    text-align: center;
    margin: 0 auto 15px;
}
.social a {
    color: #374b73;
    font-size: 20px;
    margin: 0 5px;
}

.copyright-wrap p {
    margin: 0;
    color: #374b73;
    font-size: 12px;
    padding: 10px 0;
    font-weight: 400;
}
 
.menu-bar {
   display: none;
} 

.modal-custom {
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    display: none;
}
.modal-viewer {
    padding: 48px 24px 112px;
}
.modal-viewer .modal_cs-body {
    max-width: 100%;
    margin: 0;
    padding: 0 25px;
}
.modal-viewer .modal-content {
    background: #fff;
    padding: 10px 10px 4px;
    border-radius: 5px;
    box-shadow: none;
}
.modal-viewer .close_modal_ct {
    position: absolute;
    font-size: 60px;
    color: #fff;
    top: -65px;
    right: -40px;
    font-weight: 200;
    text-decoration: none;
}
.modal-viewer iframe {
    width: 100%;
    height: 85vh;
    border-radius: 5px;
}
.footer_text {
    font-size: 12px;
    display: block;
    margin-top: 15px;
    color: #777;
}

.footer_text a {
    color: #777;
    text-decoration: underline;
    margin: 0 5px 0 0;
}

.footer_text span {
    margin-right: 15px;
}