body {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
    color: #525f7f;
    background-color: #f8f9fe;
} 
a:hover { 
    text-decoration: none;
}
.h2, h2 {
    font-size: 40px;
    color: #384c74;
} 
.h3, h3 {
    font-size: 1.0625rem; 
    font-weight: 600;
    line-height: 1.5;
}

h4, .h4 {
    font-size: 1.125rem;
} 

.h5, h5 {
    font-size: .8125rem;
}
h6, .h6 {
    font-size: 0.875rem;
}
.btn-warning {
    color: #ffffff !important;
    background-color: #ffc107;
    border-color: #ffc107;
}
.form-control {
    display: block; 
    min-height: 38px;
    font-size: 13px; 
}
.btn {
    font-size: .875rem;
    position: relative;
    transition: all .15s ease;
    letter-spacing: .025em;
    text-transform: none;
    will-change: transform;
    padding: .625rem 1.25rem;
}
.btn-small {
    font-size: .625rem;
    padding: 0 10px;
    border-radius: 2px;
    line-height: 20px;
}
.btn-group-sm>.btn, .btn-sm {
    font-size: .75rem;
    line-height: 1.5;
    padding: .25rem .5rem;
    border-radius: .25rem;
}
.d-flex {
    display: flex!important;
}
.align-items-center {
    align-items: center!important;
    display: flex;
    justify-content: center;
}

.navbar-vertical {
    padding-top: 0;
    border-width: 0 0 1px 0;
    border-style: solid;
    box-shadow: 0 0 2rem 0 rgba(136,152,170,.15);
}
.navbar-vertical.navbar-light {
    border-color: rgba(0,0,0,.05);
    background-color: #f6f9fc;
}
.navbar-vertical.navbar-expand-xs {
    position: fixed;
    top: 0;
    bottom: 0;
    display: block;
    overflow-y: auto;
    width: 100%;
    max-width: 66px;
    padding-right: 0;
    padding-left: 0;
    transition: .3s;
}
.g-sidenav-pinned .sidenav {
    max-width: 250px!important;
}
.navbar-vertical.navbar-expand-xs.fixed-left {
    left: 0;
    border-width: 0 1px 0 0;
}
.sidenav-header {
    height: 78px;
}
.sidenav .navbar-brand {
    padding: 1.5rem;
}
.navbar-vertical .navbar-brand-img, .navbar-vertical .navbar-brand>img {
    max-width: 100%;
    max-height: 2rem;
}
.sidenav .navbar-brand, .sidenav .navbar-heading .docs-normal {
    display: none;
}
.g-sidenav-pinned .sidenav .navbar-brand {
    display: block;
}
.ml-auto, .mx-auto {
    margin-left: auto!important;
}
.sidenav-toggler {
    cursor: pointer;
}
.sidenav-toggler-inner, .sidenav-toggler-line {
    width: 18px;
    transition: all .15s ease;
}
.sidenav-toggler-inner {
    position: relative;
}
.sidenav-toggler-inner:before {
    position: absolute;
    top: -14px;
    left: -11px;
    width: 40px;
    height: 40px;
    content: '';
    transition: all .15s cubic-bezier(.68,-.55,.265,1.55);
    transform: scale(0);
    border-radius: 50%;
}
.sidenav-toggler.active .sidenav-toggler-inner:before {
    transform: scale(1);
}
.sidenav-toggler-line {
    position: relative;
    display: block;
    height: 2px;
    background-color: #172b4d;
}
.sidenav-toggler-line:not(:last-child) {
    margin-bottom: 3px;
}
.sidenav-toggler.active .sidenav-toggler-line:first-child {
    width: 13px;
    transform: translateX(5px);
}
.sidenav-toggler.active .sidenav-toggler-line:last-child {
    width: 13px;
    transform: translateX(5px);
}
.navbar-vertical.navbar-expand-xs .navbar-inner {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
.navbar-vertical.navbar-expand-xs .navbar-collapse {
    display: flex;
    flex-direction: column;
    margin-right: -1.5rem;
    margin-left: -1.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    flex: 1 1;
    align-items: stretch;
}
.navbar-vertical.navbar-expand-xs .navbar-nav {
    flex-direction: column;
    margin-right: -1.5rem;
    margin-left: -1.5rem;
}
.navbar-expand .navbar-collapse {
    justify-content: flex-end;
}
.navbar-vertical.navbar-expand-xs .navbar-nav>.nav-item {
    margin-bottom: 10px;
}
.navbar-vertical.navbar-expand-xs .navbar-nav>.nav-item>.nav-link.active {
    margin-right: .5rem;
    margin-left: .5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: .375rem;
    background: #f6f9fc;

}
.navbar-vertical .navbar-nav .nav-link {
    display: flex;
    white-space: nowrap;
    align-items: center;
}
.navbar-nav .nav-link {
    padding: .675rem 1.5rem;
    font-size: 14px;
}
.navbar-vertical .navbar-nav .nav-link>i {
    font-size: .9375rem;
    line-height: 1.5rem;
    min-width: 2rem;
}
.nav-link i.ni {
    position: relative;
    top: 2px;
}
.text-primary {
    color: #5e72e4!important;
}
.g-sidenav-show .sidenav .nav-link-text {
    transition: .3s ease;
    opacity: 0;
}

.g-sidenav-show.g-sidenav-pinned .sidenav .nav-link-text {
    opacity: 1;
}
.g-sidenav-pinned .main-content {
    width: calc(100% - 250px);
}

.main-content {
    margin-left: auto;
    width: calc(100% - 66px);
    transition: .3s;
}
.bg-primary {
    background-color: #47aaff!important;
}
.navbar-top.border-bottom.navbar-dark {
    border-color: rgba(255,255,255,.08)!important;
}
.main-content .navbar-top {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}
.navbar-expand {
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.95);
}
.navbar-expand .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-link i {
    position: relative;
    top: 2px;
}
.avatar {
    font-size: 1rem;
    display: inline-flex;
    width: 48px;
    height: 48px;
    color: #fff;
    border-radius: .375rem;
    background-color: #adb5bd;
    align-items: center;
    justify-content: center;
}
.avatar-sm {
    font-size: .875rem;
    width: 36px;
    height: 36px;
    display: inline-flex;
    overflow: hidden;
}
.avatar.rounded-circle img, .rounded-circle {
    border-radius: 100%!important;
}
.avatar img {
    width: 100%;
}
.ml-2, .mx-2 {
    margin-left: .5rem!important;
}
.text-sm {
    font-size: .875rem!important;
}
.font-weight-bold {
    font-weight: 600!important;
}
.mb-0, .my-0 {
    margin-bottom: 0!important;
}

.navbar-nav {display: inline-flex;}

.media-body {
    width: calc(100% - 40px);
    font-size: 14px;
}


.breadcrumb-links {
    margin: 0;
    padding: 0;
    background: 0 0;
}
.breadcrumb-dark .breadcrumb-item {
    font-weight: 600;
}
.breadcrumb-item {
    font-size: .875rem;
}
.breadcrumb-dark .breadcrumb-item a {
    color: #f6f9fc;
} 
.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    content: '-';
    color: #adb5bd;
}
.breadcrumb-dark .breadcrumb-item.active {
    color: #dee2e6;
    font-weight: 500;
}

.card {
    margin-bottom: 30px;
    border: 0;
    box-shadow: 0 0 2rem 0 rgba(136,152,170,.15);
}
.card-stats {
    min-height: 100px;
}
.card-stats .card-body {
    padding: 1rem 1.5rem;
}
.text-muted {
    color: #8898aa!important;
}
.text-uppercase {
    text-transform: uppercase!important;
}
.mt-10 {
    margin-top: 15px;
}

.icon {
    width: 3rem;
}
.icon-shape {
    display: inline-flex;
    padding: 12px;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

[class*=shadow] {
    transition: all .15s ease;
}
.bg-gradient-red {
    background: linear-gradient(87deg,#f5365c 0,#f56036 100%)!important;
}
.bg-gradient-orange {
    background: linear-gradient(87deg,#fb6340 0,#fbb140 100%)!important;
}
.bg-gradient-green {
    background: linear-gradient(87deg,#2dce89 0,#2dcecc 100%)!important;
}
.bg-gradient-info {
    background: linear-gradient(87deg,#11cdef 0,#1171ef 100%)!important;
}
.dropdown-header {
    font-weight: 700;
    padding-right: 1rem;
    padding-left: 1rem;
    text-transform: uppercase;
}


.dropdown-header h6 {
    font-size: 8px;
    font-weight: 700;
}
.dropdown-menu .dropdown-item {
    font-size: .875rem;
    padding: .5rem 1rem;
}
.dropdown-menu .dropdown-item>i, .dropdown-menu .dropdown-item>svg {
    font-size: 1rem;
    margin-right: 1rem;
    vertical-align: -17%;
}

.mt--6, .my--6 {
    margin-top: -4.5rem!important;
}

.card-header {
    margin-bottom: 0;
    padding: 1.25rem 1.5rem;
    border-bottom: 1px solid rgba(0,0,0,.05);
    background-color: #fff;
}
.card-header:first-child {
    border-radius: 6px;
}
.card-footer {
    background: #fff;
    border: 0;
}
.mb-0, .my-0 {
    margin-bottom: 0!important;
}

.card .table td, .card .table th {
    padding-right: 15px;
    padding-left: 15px;
    font-weight: 400;
    box-sizing: border-box;
}

.table .thead-light th {
    color: #8898aa;
    background-color: #f6f9fc;
}

.table td, .table th {
    font-size: 13px;
}
.table-flush tbody tr:first-child td, .table-flush tbody tr:first-child th {
    border-top: 0;
    font-weight: 400;
}

.table-action {
    font-size: .875rem;
    margin: 0 .25rem;
    color: #adb5bd;
    transition: .3s;
}
.table-action-delete:hover {
    color: #F44336;
}
.table-action-remine:hover {
    color: #00BCD4;
}
.status-health {
    line-height: 21px;
    padding: 0 10px;
    font-size: .625rem;
    border-radius: 3px;
}
.pb-6 {
    padding-bottom: 4.5rem;
}
.close {
    font-weight: 400;
    font-size: 35px;
    position: absolute;
    right: 10px;
    top: 5px;
    outline: none !important;
}
.align-center {
    align-items: center;
    justify-content: center;
}
.modal-title {
    font-size: 15px;
}
.modal-footer {
    border-top: 0;
}
.btn i {
    display: inline-block;
    margin-right: .2rem;
}
.col-form-label {
    font-size: .825rem;
}

.btn-tertiary {
  color: #555;
  font-size: 13px;
  padding: 0;
  line-height: 36px;
  width: 100%;
  margin: auto;
  display: block;
  border: 1px solid #ced4da;
}
.btn-tertiary:hover, .btn-tertiary:focus {
  color: #888888;
  border-color: #888888;
}

/* input file style */
.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.input-file + .js-labelFile {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
  cursor: pointer;
}
.input-file + .js-labelFile .icon:before {
  content: "\f093";
}
.input-file + .js-labelFile.has-file .icon:before {
  content: "\f00c";
  color: #5AAC7B;
}

.input-group {
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: stretch;
}
.input-group {
    transition: all .15s ease-in-out;
    border-radius: .25rem;
    box-shadow: 0 3px 2px rgba(233,236,239,.05);
}
.input-group-text {
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    margin-bottom: 0;
    padding: .625rem .75rem;
    text-align: center;
    white-space: nowrap;
    color: #adb5bd;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    background-color: #fff;
    align-items: center;
}

.input-group-prepend .input-group-text {
    border-right: 0;
}
.input-group-text i {
    font-size: .875rem;
}
.input-group-merge .form-control:not(:first-child) {
    padding-left: 0;
    border-left: 0;
}

.input-group-merge .form-control:focus {
    box-shadow: none !important;
    border-color: #dee2e6;
}
 
.hr_or {
    position: relative;
    margin: 30px 0;
}

.hr_or span {
    position: absolute;
    top: -17px;
    width: 35px;
    height: 35px;
    background: #ffff;
    border-radius: 100%;
    box-shadow: 0 0px 24px -5px rgb(0 0 0 / 20%);
    text-align: center;
    line-height: 35px;
    font-size: 12px;
    font-weight: 600;
    color: #777;
    left: calc(50% - 17px);
}
.wideget-user {
    position: relative;
}
.wideget-user-desc .wideget-user-img img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    box-shadow: 0px 3px 10px 0 rgba(7, 16, 31, 0.15);
}
.wideget-user-desc .user-wrap {
    margin-top: 1.5rem;
} 
.wideget-user-contact .user-contact-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    text-align: center;
    border-radius: 100px;
    line-height: 2rem;
}

.fs-14 {
    font-size: 14px;
}

.cbp_tmtimeline {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}
.cbp_tmtimeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3px;
    background: #eef1f6;
    left: 130px;
    margin-left: -6px;
}
.cbp_tmtimeline > li {
    position: relative;
}
.cbp_tmtimeline > li .cbp_tmtime {
    display: block;
    padding-right: 45px;
    position: absolute;
    text-align: left;
}
.cbp_tmtimeline > li .cbp_tmtime span {
    display: block;
    text-align: right;
    font-size: 12px;
}
.cbp_tmtimeline > li .cbp_tmtime span:first-child {
    font-size: 15px;
    font-weight: 500;
}
.cbp_tmtimeline > li .cbp_tmicon {
    width: 40px;
    height: 40px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 1.4em;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #fff;
    background: #46a4da;
    border-radius: 50%;
    text-align: center;
    left: 130px;
    top: 0;
    margin: 0 0 0 -25px;
}
.cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 30px 180px;
    background: #fff;
    padding: 1.2em;
    position: relative;
    box-shadow: 0px 2px 26px -2px rgb(0 0 0 / 10%);
    border-radius: 5px;
}
.cbp_tmtimeline > li .cbp_tmlabel p {
    margin-bottom: 10px;
    font-size:14px;
}
.empty {
    font-size: 14px;
}
.cbp_tmtimeline > li .cbp_tmlabel .status_health {
    color: #fff;
    line-height: 20px;
    display: inline-flex;
    padding: 0 10px;
    border-radius: 3px;
    font-size: .725rem;
}
.logo-business {
    width: 6rem;
    height: 6rem;
    line-height: 3rem;
    font-size: 1.25rem;
    background: #f2f4f9;
}

.flex-start {
    justify-content: flex-start;
}

.form-label {
    font-size: 14px;
}

/*Login*/

.h-100 {
    height: 100vh !important;
}

.authincation-content {
    background: #fff;
    box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
    border-radius: 5px;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.auth-form {
    padding: 50px 50px;
}
.authincation-content label {
    font-size: 14px;
}
.authincation-content .form-control {
    background: #fff;
    border: 1px solid #d7dae3;
    color: #6e6e6e;
    height: 45px;
}
